body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(to bottom, #b3c7f9, #a8def0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px 15px;
    text-align:left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
}

table tr:hover {
    background-color: #f9f9f9;
}

.logout-btn {
    display: block;
    margin: 50px auto;
    width: 20%;
    text-align: center;
    background-color: #6c5ce7;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
}

.logout-btn:hover {
    background-color: #5a4cd2;
}
